<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Google" value="https://www.google.ru/" />
		<add key="GitHub" value="https://github.com/" />
		<add key="Unknown1" value="http://sdfsgsdvbgcf.com/"/>
		<add key="HeadHunter" value="https://hh.ru/" />
		<add key="VK" value="https://vk.com/"/>
		<add key="Unknown2" value="http://gfdgdfgdv.com/"/>
		<add key="Yandex" value="https://ya.ru/"/>
	</appSettings>
	
	<connectionStrings>
		<add name="ConnectionToDB" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=2459512;Database=postgres"
			 providerName="Npgsql"/>
	</connectionStrings>
</configuration>

